body {
  margin: 0 auto;
  padding: 0;
  background-image: url("./assets/background-image.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-family: "Copperplate Gothic", "Copperplate", serif;
}
#root{
  width: 100%;
}
/* Navbar */
nav {
  position: relative;    
  display: flex;
  align-items: center;
  min-height: 15vh; 
  height: 10vh;
  background-color: #f2e7c2;
  color: #2e4b57;
  padding: 0 30px;
}
nav img {
  height: 100%;
}
nav h1 {
  font-weight: bold;
  font-size: 50px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.our-recipes{
  font-family: "Copperplate Gothic", "Copperplate", serif;
  text-align: center;
  font-size: 50px;
  box-shadow:0 5px 10px #2e4b57;
  height: 7vh; 
  width: 102vh;
  border-radius: 10px;
  margin-left: 22vh;
  background-color: white;
}
/* Layout principal */
.main-layout {
  display: flex;
  min-height: 60vh; 
}
/* Sidebar */
.sidebar {
  width: 200px;
  background-color: white;
  padding: 30px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  height: 10px;
  border: 1px solid #000000;
  background-color: #2e4b57;
}
.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/*Add Recepies*/
.Form-new-recipe{
  font-family: "Copperplate Gothic", "Copperplate", serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;  
  width: 500px; 
  padding: 20px;              
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 28%;    
  font-size: 20px;
}
.new-recipe{
  font-family: "Copperplate Gothic", "Copperplate", serif;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  padding: 10px;
  background-color: #cf5648;
  border-radius: 6px;
  color: white;
}
.Add-recipe-button{
  font-family: "Copperplate Gothic", "Copperplate", serif;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #2f4858;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  }
/* RecipiesList */
.recipe-card{
  display: flex;
  align-items: center;
  padding: 0vh;
  margin: 5vh;
  margin-left: 15%;
  border-radius: 10px;  
  width: 99vh;
  color: #000000;
  background-color: white;
  box-shadow: 0 4px 10px #2e4b57;
}
.recipe-image {
  width: 350px;  
  height: 350px;          
  object-fit: contain;
  padding: 0vh;
  margin: 5vh;
  border-radius: 10px;  
  color: #000000;
  box-shadow: 0 4px 10px #2e4b57;
}
.recipe-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0vh;
  margin: 10vh;
  width: 24vh;
  color: #000000;
}
.delete-button-recipe{
  font-family: "Copperplate Gothic", "Copperplate", serif;
  display: block;
  margin-top: 35vh;
  padding: 15px;
  background-color: #2f4858;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/*Recipe Details*/
.recipe-details{
  display: block;
  text-align: center;
  margin-left: 50vh;
  box-shadow: 0 4px 10px #2e4b57;
  width: 30vh;
  
}

/* Main */
main {
  flex: 1;
  padding: 20px;
}
/* Footer */
footer {
  background-color: #5d5d5d;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer img {
  height: 30px;
}
.team-member {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.team-name {
  font-size: 1.4rem;      
  font-weight: 600;       
  margin-bottom: 10px;    
}
.team-img {
  width: 300px;       
  height: 300px;       
  border-radius: 12px; 
  object-fit: cover;   
  margin-left: 12px;   
}
