body {
  margin: 0 auto;
  padding: 0;
  min-width: 100vh;
  background-color: rgb(255, 255, 255);
  color: white;
  font-family: Arial, sans-serif;
}

#root{
  width: 100%;
}

/* Navbar */
nav {
  position: relative;    
  display: flex;
  align-items: center;
  min-height: 15vh; 
  height: 10vh;
  background-color: #f2e7c2;
  color: #2e4b57;
  padding: 0 30px;
}

nav img {
  height: 100%;
}

nav h1 {
  font-family: "Copperplate Gothic", "Copperplate", serif;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-shadow: 2px 2px 5px black;
}

/* Layout principal */
.main-layout {
  display: flex;
  min-height: 70vh; 
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: white;
  padding: 30px;

}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  height: 10px;
  border: 1px solid #000000;
  background-color: #2e4b57;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* RecipiesList */
.recipe-card{
  display: flex;
  align-items: center;
  padding: 5vh;
  margin: 15px;
  border-radius: 10px;  
  color: #000000;
  box-shadow: 0 4px 10px #2e4b57;
}
.recipe-image {
  width: 350px;  
  height: 350px;          
}

/* Main */
main {
  flex: 1;
  padding: 20px;
}

/* Footer */
footer {
  background-color: #5d5d5d;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer img {
  height: 30px;
}